:root {
    --green: #7FB23A;
    --pink: #F4CDD4;
    --blue: #93A8CB;
    --teal: #00B8AB;
    --white: #ffffff;
}

@font-face {
    font-family: Jaro;
    src: url(fonts/Jaro/Jaro-Regular.ttf);
}

@font-face {
    font-family: Notable;
    src: url(fonts/Notable/Notable-Regular.ttf);
}

@font-face {
    font-family: Hubot sans;
    src: url(fonts/Hubot_Sans/static/HubotSans_Condensed-Light.ttf);
}

@font-face {
    font-family: Gafata;
    src: url(fonts/Gafata/Gafata-Regular.ttf);
}

@font-face {
    font-family: Protest Strike;
    src: url(fonts/Protest_Strike/ProtestStrike-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: Afacad;
    src: url(fonts/Afacad/Afacad-VariableFont_wght.ttf);
}

@font-face {
    font-family: Mohave;
    src: url(fonts/Mohave/static/Mohave-Light.ttf);
}

@font-face {
    font-family: Patua One;
    src: url(fonts/Patua_One/PatuaOne-Regular.ttf);
}

@font-face {
    font-family: Phetsarath;
    src: url(fonts/Phetsarath/Phetsarath-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(fonts/Philosopher/Philosopher-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Port Lligat Slab;
    src: url(fonts/Port_Lligat_Slab/PortLligatSlab-Regular.ttf);
}

@font-face {
    font-family: Quintessential;
    src: url(fonts/Quintessential/Quintessential-Regular.ttf);
}

@font-face {
    font-family: Rum Raisin;
    src: url(fonts/Rum_Raisin/RumRaisin-Regular.ttf);
}

@font-face {
    font-family: Bungee;
    src: url(fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
    font-family: Koulen;
    src: url(fonts/Koulen/Koulen-Regular.ttf);
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

button {
    border: none;
}

/* ==================================================================== */
/* Universal navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    position: sticky;
    z-index: 2;
    
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons a, a:visited {
    color: var(--black);
}

.nav-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.nav-shop {
    font-family: Jaro;
    font-size: 150%;
    margin-right: 40px;
}

.nav-about {
    font-family: Inter;
    margin-right: 10px;
}

.nav-cart {
    font-family: Inter;
    padding: 25px;
}


.nav-logo {
    margin: auto 0;
    margin-left: 2%;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.cart-wrapper {
    position: relative;
    background-color: var(pink);

}

.hover-cart {
    display: none;
    position: absolute;
    top: 69px;
    right: 0px;
    width: 500px;
    background-color: var(--pink);
    color: var(--black);
    padding: 15px;
    border-radius: 15px 0 15px 15px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.hover-cart p {
    text-align: center;
    font-family: Koulen;
    font-size: 40px;
    margin-top: 10px;
}

.hover-cart button {
    display: flex;
    font-family: Notable;
    font-size: 25px;
    background-color: var(--green);
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cart-wrapper:hover .nav-cart {
    background-color: #F4CDD4;
}


.cart-wrapper:hover .hover-cart,
.cart-wrapper.open .hover-cart {
    display: block;
}



.nav-cart-icon {
    display: none;
}

.nav-menu-icon {
    display: none;
}

/* title header */

header {
    background-color: var(--green);
    margin-top: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.three-blocks {
    width: 95%;
    height: auto;
    position: absolute;
    margin-inline: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.small-logo {
    width: 10%;
    height: auto;
    position: relative;
    margin-top: 7vw;
    left: 50%;
    transform: translateX(-50%);

}

.title {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;

}

.logo-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    font-size: clamp(4rem, 20vw, 20rem);    
    line-height: 1;
    margin-top: 1rem;
    color: var(--white);
}


/* ============================================================================ */
/* Title various fonts */

.o-1 {
    font-family: Patua One;
}

.t-1 {
    font-family: Philosopher;
}

.h-1 {
    font-family: Port Lligat Slab;
}

.e-1 {
    font-family: Phosphate;
}

.r-1 {
    font-family: Philosopher;
}

.s-1 {
    font-family: Rum Raisin;
}

.i-1 {
    font-family: Phetsarath;
}

.d-1 {
    font-family: Quintessential;
}

.e2-1 {
    font-family: Poppins;
}

/* ============================================================================ */


.title h2 {
    display: flex;
    font-size: 6vw;
    justify-content: right;
    margin-bottom: 8vw;
    font-family: Jaro;
    color: var(--white);

}

.shop-button {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: var(--black);
    background-color: var(--pink);
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    font-family: Notable;
    z-index: 2;
    top: 80%;
    left: 26%;
}

.coffee-products {
    width: 95%;
    height: auto;
    position: absolute;
    top: 65%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.checker-border {
    width: 100%;
    height: auto;
}

/* description */

.description {
    display: flex;
    margin-top: 6vw;
    justify-content: space-between;
    align-items: center;
}

.block-one {
    width: 14%;
    height: auto;
}

.block-two {
    width: 8%;
    height: auto;
}

.description p {
    text-align: left;
    font-size: clamp(0.8rem ,1.9vw, 3rem);
    color: white;
    background-color: var(--green);
    max-width: 40vw;
    padding: 1.5%;
    margin-top: 0px;
    font-family: Afacad;
    border-radius: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 6%;
    padding-left: 6%;

}

.spike-border {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* section one */

.section-one {
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
}

.section-one h2 {
    padding-top: 2vw;
    color: white;
    font-size: 5vw;
    font-family: Protest Strike;
    margin-bottom: 0px;
}

.section-one div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blend-title {
}

.blend-subtitle {
    text-align: center;
    gap: 20px;
}

.blend-title h2 {
    position:absolute;
    font-size: 20vw;
}

.title-dot {
    height: 25px;
    width: 25px;
    background-color: var(--white);
    border-radius: 50%;
    margin-top: 25px;
}

.blend-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vw;
}

.box-one {
    background-color: var(--pink);
    width: 150px;
    height: 300px;
    border-radius: 12px;
    transform: translateY(-40px);

}

.box-two {
    background-color: var(--pink);
    width: 100px;
    height: 270px;
    border-radius: 12px;
    transform: translateY(60px);
}

.box-three {
    background-color: var(--pink);
    width: 100px;
    height: 190px;
    border-radius: 12px;
    transform: translateY(-60px);
}

.box-four {
    background-color: var(--pink);
    width: 150px;
    height: 300px;
    border-radius: 12px;
    transform: translateY(-60px);
}

.blend-description p {
    width: 46vw;
    display: flex;
    text-align: center;
    
    font-size: clamp(0.8rem, 1.5vw, 180%);
    padding: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 10px;
    padding-top: 4vw;
    padding-bottom: 4vw;
    
    font-family: Hubot Sans;
    border-radius: 12px;
    background-color: var(--pink);
}



.blend-one {
    left: 7%;
    transform: rotate(-20deg);
    top: 223%;
    z-index: 3;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

.blend-two {
    left: 23%;
    transform: rotate(3deg);
    top: 210%;
    z-index: 3;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

.blend-three {
    left: 36%;
    transform: rotate(-10deg);
    top: 220%;
    z-index: 3;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

.blend-four {
    left: 50%;
    transform: rotate(5deg);
    top: 212%;
    z-index: 3;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

.blend-five {
    left: 65%;
    transform: rotate(3deg);
    top: 230%;
    z-index: 3;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

.blend-six {
    left: 80%;
    transform: rotate(-30deg);
    top: 220%;
    z-index: 3;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}


/* Blend image gallery */

.gallery {
    display: flex;
    margin-top: 10vw;
    justify-content: center;
    gap: 30px;
    position:relative;
}

.gallery-one {
    width: 60%;
    height: auto;
    z-index: 2
}

.gallery-two {
    width: 80%;
    height: auto;
    z-index: 2
}

.gallery-three {
    width: 100%;
    height: auto;
    z-index: 2
}

.gallery-four {
    width: 80%;
    height: auto;
    z-index: 2
}

.gallery-five {
    width: 60%;
    height: auto;
    z-index: 2;
}

.gallery-square {
    background-color: var(--white);
    width: 72%;
    height: 55%;
    position: absolute;
    top: 18%;
    z-index: 1;
}

.gallery-dot {
    display: flex;
    gap: 1vw;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: var(--white);
    border-radius: 50%;
}

.gallery-caption {
    text-align: center;
    font-family: Mohave;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-top: 20px;
    color: var(--black);
}

.gallery-button {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Notable;
    background-color: var(--pink);
    padding: 10px;
    font-size: clamp(1rem, 2vw, 2rem);
    border-radius: 15px;
    padding-bottom: 20px;
}

.gallery-move-buttons img {
    width: 5%;
    height: auto;
    margin: 20px;
}

.lines-border {
    width: 100%;
    height: auto;
}


/* subscription section */

.section-two {
    background-color: var(--pink);
    padding-bottom: 20px;
}

.subscription-box-one {
    width: 90%;
    position: absolute;
    top: 345%;
    left: 5%;
    z-index: 1;
}

.subscription-box-two {
    width: 90%;
    position: absolute;
    left: 7%;
    top: 390%;    
}

.subscription-title {
    font-size: clamp(7rem, 20vw, 15rem);
    color: var(--white);
    font-family: Protest Strike;
    max-width: 58rem;
    margin: 0 auto;
    letter-spacing: -20px;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;

}

.subscription-title span {
    display: inline-block;
    margin-top: 20px;
}

.s-2 {

}

.u-2 {
    transform: translateY(40px);
}

.b-2 {
    transform: translateY(0px);
}

.s2-2 {
    transform: translateY(-20px);
}

.c-2 {
    transform: translateY(20px);
}

.r-2 {
    transform: translateY(-25px);
}

.i-2 {
    transform: translateY(-70px);
}

.p-2 {
    transform: translateY(-50px);
}

.t-2 {
    transform: translateY(-70px);
}

.i2-2 {
    transform: translateY(-100px);
}

.o-2 {
    transform: translateY(-80px);
}

.n-2 {
    transform: translateY(-60px);
}

.bottom-row {
    transform: translateX(60px);
}

.subscription-desc {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.subscription-desc p {
    font-family: Hubot Sans;
    font-size: clamp(0.8rem, 2vw, 1.8rem);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 46%;
}

.bar {
    background-color: var(--white);
    width: 100%;
    height: 20px;
    margin-top: 15px;
}

.subscription-explanation {
    margin-bottom: 20px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}

.subscription-subtitle-one {
    color: var(--teal);
    font-family: Protest Strike;
    font-size: clamp(2rem, 10vw, 4rem);
    margin-top: 2rem;
}

.subscription-explanation-one {
    background-color: var(--white);
    font-family: Hubot Sans;
    font-size: clamp(1rem, 3vw, 1.5rem);
    border-radius: 15px;
    width: 80%;
    padding: 15px;

}

.subscription-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.subscription-right h2 {
    color: var(--teal);
    font-family: Protest Strike;
    font-size: clamp(1rem, 10vw, 4rem);
    margin-top: 2rem;
}

.subscription-right p {
    background-color: var(--white);
    font-family: Hubot Sans;
    font-size: clamp(1rem, 3vw, 1.5rem);
    border-radius: 15px;
    padding: 15px;
}

.small-bar {
    background-color: var(--white);
    border-radius: 15px;
    margin-top: 10px;
}

.triple-lines-one {
    position: absolute;
    top: 50%;
}

.white-spikes-border {
    width: 100%;
    height: auto;
}

/* find us at section */

.section-three-title {
    color: var(--green);
    font-family: Protest Strike;
    font-size: clamp(5rem, 10vw, 11rem);
    max-width: 30%;
    line-height: clamp(4rem, 10vw, 9rem);
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom: 18px;
}

.address-subtitle {
    background-color: var(--green);
    font-family: Protest Strike;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: clamp(1.2rem, 3vw , 3rem);
    margin-bottom: 30px;
}

.balls-left {
    position: absolute;
    width: 10%;
    height: auto;
    left: 50px;
    transform: translateY(-18%);
}

.balls-right {
    position: absolute;
    width: 10%;
    height: auto;
    right: 13%;
    transform: translateY(90px);
}

.schedule {
    background-color: var(--green);
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
    max-width: 45%;
    justify-content: space-between;
    padding: 20px;
}

.schedule p {
    font-family: Hubot Sans;
    font-size: clamp(1rem, 4vw, 3rem); 
}




/* ========================================================= */
/* footer */

.footer-lines-border {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

footer {
    background-color: var(--blue);
    font-family: Hubot Sans;
    font-size: (0.1rem, 10vw, 1rem);
}

.footer-row-one {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 15%;
    padding-top: 50px;
}

.footer-center figure {
    display: flex;
    justify-content: center;
}

.footer-center img {
    width: clamp(200px, 1vw, 300px);
    height: auto;
}

.footer-center figcaption {
    display: flex;
    justify-content: center;
}

.footer-image {
    width: 20%;
    height: auto;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 30px;
    font-size: clamp(0.1rem, 8vw, 1rem);
}

.footer-right {
    text-align: right;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}






/* ============================================================================ */
/* shop list */

.product-list-header h1 {
    color: var(--white);
}

.product-list-header h2 {
    color: var(--white);
}

.back-button {
    color: var(--black);
    background-color: var(--pink);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    font-family: Koulen;
    font-size: 2rem;
    text-align: center;
}

.shop-title {
    font-family: Protest Strike;
    text-align: center;
    font-size: clamp(6rem, 20vw, 12rem);
    z-index: 2;
    margin-top: 4%;
}

.shop-header-image {
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.category {
    display:flex;
    gap: 40px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 2;

}

.category h2 {
    width: clamp(7rem, 27vw, 24rem);
    font-size: clamp(0.8rem, 3vw, 3rem);
    text-align: center;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-button-one {
    font-family: Jaro;
    background-color: var(--pink);
}

.category-button-two {
    font-family: Bungee;
    background-color: var(--teal);
}

.category-button-three {
    font-family: Inter;
    background-color: var(--teal);

}

.products {
    margin: 0 auto;
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 10px;
    column-gap: 7%;
}

.product-box h2 {
    font-family: Koulen;
    text-align: center;
    font-size: clamp(0.6rem, 3vw, 2rem);
}

.product-box figcaption {
    background-color: var(--teal);
    border-radius: 50px;
    padding-bottom: 10px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    transform: translateY(-15px);
}

.product-image {
    width: 100%;
    height: auto;
    background-color: var(--green);
    border-radius: 20px;
    margin-top: 30px;
}

.price-tag {
    background-color: var(--white);
    margin-bottom: 10px;
    border-radius: 15px;
    font-family: Inter;
    text-align: center;
    font-size: clamp(0.2rem, 3vw, 1.3rem);
    width: 80%;
    margin: 0 auto;
}

.list-subtitle-dots {
    display: flex;
    justify-content: space-between;
}

.list-dot {
    background-color: var(--teal);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}



/* ============================================================================ */
/* product page */

.product-page-header {
    background-color: var(--teal);
}

.product-hero {
    background-color: var(--teal);
    display: flex;
}

.product-right {
    max-width: 55%;
}

.product-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-dots {
    display: flex;
    gap: 5px;
    margin: 0 auto;
}

/* hidden from desktop */
.mobile-product-lines img {
    display: none;
}

.product-hero-dot {
    background-color: var(--white);
    width: 15px;
    height: 15px;
    border-radius: 25px;
}

.product-hero img {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.product-hero h1 {
    font-family: Koulen;
    font-size: clamp(2rem, 10vw, 4rem);
}

.product-description p {
    margin-right: 30px;
    margin-bottom: 20px;
}

.product-hero p {
    font-family: Hubot Sans;
    font-size: clamp(0.8rem, 3.5vw, 1.3rem);
}

.pick h2 {
    font-family: Koulen;
    font-size: 30px;
}

.pick p {
    background-color: var(--pink);
    border-radius: 25px;
    padding: 10px;
    font-size: clamp(0.8rem, 1.2vw, 1.4rem);
    min-width: 40px;
    text-align: center;
}

.selections {
    display: flex;
    gap: 10px;
}

.size-pick {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.category-pick {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-pick {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-pick h3 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.minus {
    border-radius: 50px;
    background-color: var(--pink);
    width: 45px;
    height: 45px;
}

.quantity {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-family: Hubot Sans;
}

.plus {
    border-radius: 50px;
    background-color: var(--pink);
    width: 45px;
    height: 45px;
}

.product-total {
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-total h2 {
    font-family: Hubot Sans;
}

.add-cart-button {
    background-color: var(--pink);
    border-radius: 5px;
    font-family: Notable;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.recommended h1 {
    color: var(--teal);
    font-family: Protest Strike;
    font-size: clamp(2rem, 10vw, 4rem);
    text-align: center;
    margin-top: 30px;
}

.recommended-product figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommended-gallery {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}

.recommended-image {
    width: 100%;
    height: auto;
}

.recommended-product h2 {
    font-family: Hubot Sans;
    font-size: clamp(0.8rem, 2vw, 2rem);
    margin-bottom: 10px;
    text-align: center;
}

.recommended-product a {
    font-size: clamp(0.3rem, 2vw, 2rem);
    background-color: var(--pink);
    font-family: Notable;
    border-radius: 15px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* ============================================================================ */
/* cart page */

.cart-page-header {
    background-color: var(--pink);
    padding-bottom: 50px;
}

.cart-page-header .back-button {
    background-color: var(--teal);
}

.cart-title {
    color: var(--white);
    text-align: center;
    font-family: Phosphate;
    font-size: clamp(4.5rem, 10vw , 12rem);
    letter-spacing: 20%;
}

.header-line {
    background-color: var(--teal);
    width: 50%;
    height: 20px;
    margin: 0 auto;
}

.cart-section {
    background-color: var(--pink);
    margin: 40px;
    border-radius: 30px;
    padding: 20px;
}

.cart-row {
    display: flex;
}

.cart-image {
    width: 20%;
    height: auto;
}

.cart-row-info {
    display: flex;
}

.cart-row-info h2 {
    font-family: Koulen;
    font-size: clamp(1.3rem, 4vw, 3rem);
    margin-top: 15px;
}

.cart-row-info p {
    font-family: Hubot Sans;
    font-size: clamp(0.6rem, 3.3vw, 1.4rem);
}

.cart-quantity-pick {
    display: flex;
    background-color: var(--teal);
    margin-top: 100px;
    border-radius: 30px;
    padding: 5px;
    gap: 20px;
    width: 250px;
    justify-content: center;
}

.cart-quantity-pick button {
    border-radius: 30px;
    background-color: var(--pink);
    width: 50px;
    height: 50px;
}

.cart-quantity-pick span {
    display: flex;
    font-family: Hubot Sans;
    font-size: 20px;
    background-color: var(--white);
    border-radius: 30px;
    width: 100px;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cart-row-middle {
    display: flex;
    flex-direction: column;
}

.cart-row-right p {
    font-family: Hubot Sans;
    font-size: 30px;
    background-color: var(--teal);
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 275px;
    margin-right: 40px;
}

.cart-checkout {
    background-color: var(--white);
    margin-top: 10vw;
    border-radius: 10px;
    padding: 20px;
}

.cart-checkout p {
    font-family: Hubot Sans;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

.cart-price {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.cart-checkout a {
    display: flex;
    font-family: Notable;
    font-size: clamp(0.4rem, 6vw, 3rem);
    text-align: center;
    background-color: var(--green);
    width: 400px;
    height: auto;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    justify-content: center;
    margin: 0 auto;
}









/* ============================================================================ */
/* checkout page */

.checkout-header {
    background-color: var(--pink);
    padding-bottom: 50px;
}

.checkout-header .back-button {
    background-color: var(--teal);
}

.checkout-title {
    color: var(--white);
    text-align: center;
    font-family: Phosphate;
    font-size: clamp(4rem, 12vw, 12rem);
    letter-spacing: 10%;
}


/* ============================================================================ */
/* purchase page */

.purchase-main {
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
}

.purchase-main h1 {
    font-family: Phosphate;
    font-size: 8rem;
    line-height: 80%;
    text-align: center;
    color: var(--white);
    padding-top: 15%;
    margin-bottom: 100px;
}

.empty {
    background-color: var(--white);
    width: auto;
    height: 100px;
}

.purchase-main .spike-border {
    margin-top: 100px;
}

.purchase-main img {
    margin: 0px;
}

.return-button {
    width: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
    border-radius: 5px;
    background-color: var(--green);
    font-family: Notable;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ============================================================================================= */
/* mobile adjustments */

@media (max-width: 768px) {
    
    /* ============================================================================ */
    /* media nav */
    .nav {
        gap: 0px;
    }

    .nav-logo {
        width: 200px;
    }
    
    .nav-icons {
        display: block;
    }

    .nav-buttons {
        display: none;
    }

    .nav-cart-icon {
        display: block;
        width: 6%;
        height: 6%;
        margin-top: 13px;
        transform: translateX(30px);
    }

    .nav-menu-icon {
        display: block;
        width: 5%;
        height: 5%;
        margin-right: 15px;
        margin-top: 15px;
    }


    /* ============================================================================ */
    /* mobile home page */

    .small-logo {
        display: none;
    }

    .coffee-products {
        display: none;
    }

    .title {
        margin-top: 60px;
    }

    .shop-button {
        display: flex;
        position: relative;
        justify-content: center;
        color: black;
        max-width: 45%;
        position: absolute;
        top:27%;
    }

    .description p {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }

    .block-one {
        display: none;
    }

    .block-two {
        display: none;
    }

    .subscription-desc {
        max-width: 80%;
        margin: 0 auto;
        border-radius: 15px;
    }

    .subscription-desc p {
        max-width: 85%;
    }

    .bar {
        display: none!important;    }

    .blend-title h2 {
        top: 52%;
        position:absolute;
        filter: drop-shadow(0px 0px 0px);
    }

    .blend-one {
        transform: translateY(40px) rotate(-20deg);
    }

    .blend-two {
        transform: rotate(3deg);
    }

    .blend-three {
        transform: translateY(30px) rotate(-10deg);
    }

    .blend-four {
        transform: translateY(10px) rotate(5deg);
    }

    .blend-five {
        transform: translateY(45px) rotate(3deg);
    }

    .blend-six {
        transform: translateY(10px) rotate(-30deg);
    }

    .blend-subtitle h2 {
        display: none!important;
    }

    .gallery {
        width: 100%;
        height: auto;
        gap: 10px;
        margin: 0px;
    }

    .gallery-one {
        width: 80%;
        height: auto;
    }

    .gallery-two {
        width: 100%;
        height: auto;
    }

    .gallery-three {
        width: 120%;
        height: auto;
        z-index: 2
    }

    .gallery-four {
        width: 100%;
        height: auto;
        z-index: 2
    }

    .gallery-five {
        width: 80%;
        height: auto;
        z-index: 2;
    }

    .dot {
        width: 10px;
        height: 10px;   
    }

    .blend-description p {
        margin-top: 150px;
        width: 75%;
    }

    .title-dot {
        display: none!important;
    }

    .box-one {
        display: none!important;
    }

    .box-two {
        display: none!important;
    }

    .box-three {
        display: none!important;    }

    .box-four {
        display: none!important;
    }

    .subscription-box-one {
        display: none;
    }

    .subscription-box-two {
        display: none;
    }


    .section-three-title {
        max-width: 50%;
    }

    .triple-lines-one {
        display: none;
    }

    .triple-lines-two {
        display: none;
    }


    /* ============================================================================ */
    /* mobile universal footer */

    .footer-left p {
        position: absolute;
        left: 40px;
        transform: translateY(100px);
        font-size: 10px;
    }

    .footer-right p {
        position: absolute;
        right: 40px;
        transform: translateY(100px);

        font-size: 10px;
    }

    .footer-links p {
        font-size: 0.8rem;
        margin-bottom: 20%;
    }

    .footer-row-one {
        padding-bottom: 5px;
        padding-top: 20px;
    }

    .copyright {
        display: none;
    }

    /* ============================================================================ */
    /* mobile product list page */

    .back-button {
        display: none;
    }


    .category {
        margin-top: 10px;
        gap: 10px;
    }

    .shop-header-image {
        width: 60%;
        margin-top: 10px;

    }

    .products {
        margin: 0 auto;
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        row-gap: 10px;
        column-gap: 7%;
        margin-left: 20px;
        margin-right: 20px;

}

    .product-image {
        width: 100%;
        height: auto;
    }

    .product-box figcaption {
        margin-top: 10px;
    }

    .list-dot {
        width: 10px;
        height: 10px;
    }



    /* ============================================================================ */
    /* mobile product page */
    
    .product-hero {
        flex-direction: column;
    }

    .product-hero img {
        width: 60%;
        height: auto;
    }

    .mobile-product-lines img {
        display:block;
        width: 100%;
        height: auto;
    }

    .product-hero p {
        max-width: 85%;
        margin: 0 auto;
    }

    .product-right {
        background-color: var(--white);
        max-width: 100%;
        text-align: center;
        justify-content: center;
        margin-right: 0px;
    }

    .pick h2 {
        display: flex;
        font-size: 15px;
        background-color: var(--white);
        border-radius: 20px;
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .pick {
        background-color: var(--teal);
        width: 80%;
        height: auto;
        margin: 0 auto;
        border-radius: 15px;
        padding: 10px;
        margin-top: 20px;
    }

    .size-pick {
        flex-direction: column;
    }

    .category-pick {
        flex-direction: column;
        min-width: 20px;

    }

    .quantity-pick {
        flex-direction: column;
    }

    .quantity-pick h3 {
        flex-direction: column;
    }

    .recommended-gallery {
        
        margin-left: 0px;
    }

    .recommended-gallery H2 {
        margin-bottom: 0px;

    }

    .recommended-gallery a {
        padding: 10px;
        border-radius: 5px;
    }

    .recommended-product figcaption {
        text-align: center;
        gap:10px;
    }

    .product-page-main .lines-border {
        display: none;
    }

    .product-total {
        width: 85%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .product-total p {
        text-align: left;
    }



    /* ========================================================= */
    /* mobile cart page */

    .header-line {
        display: none;
    }

    .cart-main .spike-border {
        display: none;
    }

    .cart-main {
        background-color: var(--pink);
        margin-top: 0px;
    }

    .cart-row {
        background-color: var(--white);
        border-radius: 15px;
    }

    .cart-image {
        width: auto;
        height: 10%;
    }

    .cart-row-info h2 {
        margin-top: 3px;
    }

    .cart-checkout a {
        width: 120%;
    }

    .cart-row-right p {
        position: relative;
       padding: 0px;
       margin-right: 0px;
    }

    .cart-quantity-pick {
        margin-top: 0px;
    }
    /* ============================================================================ */
    /* mobile checkout page */

    .checkout-body .spike-border {
        display: none;
    }


}
